# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
CHUNKING_API_URL=http://mock-api:8000/chunk
ENRICH_API_URL=http://mock-api:8000/enrich

# SeaweedFS S3
SEAWEEDFS_ENDPOINT=http://seaweedfs:8333
SEAWEEDFS_ACCESS_KEY=any
SEAWEEDFS_SECRET_KEY=any

# MySQL
MYSQL_HOST=mysql
MYSQL_DATABASE=pipeline_emulator
MYSQL_USER=emulator
MYSQL_PASSWORD=emulator_pass

# PII
MASK=regex
